@use '../../../sharedfc/input' as Input;
@use '../table.mixins.scss' as mixins;

@include mixins.alignment('row-item', 'left');
@include mixins.alignment('row-item', 'center');
@include mixins.alignment('row-item', 'right');
@include mixins.color('row-item', 'primary');
@include mixins.color('row-item', 'secondary');
@include mixins.size('row-item', 'sm');
@include mixins.size('row-item', 'md');
@include mixins.size('row-item', 'lg');
@include mixins.frozen('row-item', 'first');
@include mixins.frozen('row-item', 'last');
@include mixins.frozenShadow('row-item', 'first');
@include mixins.frozenShadow('row-item', 'first', true);
@include mixins.frozenShadow('row-item', 'last');
@include mixins.frozenShadow('row-item', 'last', true);

:host {
  display: flex;
  height: 100%;
  align-items: center;
  box-sizing: border-box;
  padding: var(--padding-y) var(--ath-spacing-table-row-item-padding-x);
  gap: var(--ath-spacing-table-row-item-col-gap);
  font-family: var(--ath-font-family-body);
  color: var(--ath-color-table-row-item-fg-default);
  font-size: var(--ath-font-size-comp-md);
  font-weight: var(--ath-font-weight-body-regular);
  line-height: var(--ath-font-line-height-comp-md);
}

:host(.ath-table-row-item--striped) {
  box-shadow: inset 0 0 0 99999px var(--ath-color-table-row-item-bg-striped);
}

.ath-table-row-item__child-spacing {
  padding-left: calc(var(--ath-spacing-table-row-item-padding-y-lg) - var(--ath-spacing-table-row-item-col-gap));
}

@include Input.fc-button-comp;
