@mixin colorTheme($color) {
  &--#{$color} {
    --background-color: var(--ath-color-alert-bg-#{$color});
    --border-color: var(--ath-color-alert-border-#{$color});
    --font-color: var(--ath-color-alert-fg-#{$color});

    .ath-alert__close {
      ath-button {
        &::part(button-styles) {
          color: var(--ath-color-alert-button-close-#{$color});
          border: none;
        }
        &:hover {
          &::part(button-styles) {
            background-color: var(--ath-color-bg-alpha-hovered);
          }
        }
        &:active {
          &::part(button-styles) {
            background-color: var(--ath-color-bg-alpha-pressed);
          }
        }
      }
    }
  }
}

:host {
  --col-gap: var(--ath-spacing-alert-col-gap);
  --row-gap: var(--ath-spacing-alert-text-row-gap);

  .ath-alert {
    --padding: var(--ath-spacing-alert-padding);

    &__section {
      --border-radius: var(--ath-border-radius-alert-default);
      --align-items: flex-end;
      --flex-direction: column;
      --gap: var(--ath-spacing-alert-row-gap);
    }

    &__page {
      --border-radius: var(--ath-border-radius-alert-square);
      --align-items: flex-start;
      --gap: var(--ath-spacing-alert-col-gap);
    }

    &__button {
      --button-padding-right: var(--ath-spacing-alert-button-padding-right);
    }

    &__container {
      @container (max-width: 440px) {
        ::slotted(ath-button[slot='button']) {
          --button-width: 100%;
        }

        .ath-alert__wrapper {
          --flex-direction: column;
        }
      }
    }

    @include colorTheme('info');
    @include colorTheme('success');
    @include colorTheme('warning');
    @include colorTheme('danger');
  }
}
